{% extends 'base.html.twig' %}

{% block body %}
    <h1>Messages list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Userid</th>
                <th>Objectid</th>
                <th>Textmessage</th>
                <th>Creationdate</th>
                <th>Langid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for message in messages %}
            <tr>
                <td><a href="{{ path('admin_form_messages_show', { 'id': message.id }) }}">{{ message.id }}</a></td>
                <td>{{ message.title }}</td>
                <td>{{ message.userId }}</td>
                <td>{{ message.objectId }}</td>
                <td>{{ message.textMessage }}</td>
                <td>{% if message.creationDate %}{{ message.creationDate|date('Y-m-d') }}{% endif %}</td>
                <td>{{ message.langId }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('admin_form_messages_show', { 'id': message.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('admin_form_messages_edit', { 'id': message.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div>
        <a href="{{ path('admin_form_messages_add') }}" class="btn btn-success">Create a new message</a>
    </div>
    
{% endblock %}
