{# src/LFDPP/AdminBundle/Resources/views/Admin/Entity/PriceType/index.html.twig #}
{% extends "@Admin/Default/index.html.twig" %}

{% block content %}

<ul>
  {% for price_type in prices_type %}
    <li>
    <div>
    {{ price_type.type }} correspond a {{ price_type.days }} jours - 
    <a href="{{ path('admin_form_price_type_edit', {'id': price_type.id}) }}">Edit this type</a>
    <a href="{{ path('admin_form_price_type_delete', {'id': price_type.id}) }}">Delete this type</a>
    </div>
    </li>
  {% else %}
    <li>Pas de Price Type trouvé.</li>
  {% endfor %}
</ul>

<div>
  <a href="{{ path('admin_form_price_type_add') }}">Add new Price Type</a>
</div>

  {% endblock %}